@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'PK-Loei-Medium';
        src: url('/PK-Loei-Medium.ttf') 
        format('truetype') /* ไฟล์ฟอนต์ในรูปแบบ woff2 */
      }

      body{
        font-family: 'PK-Loei-Medium';
        font-size: 24px;
      }

      .btn {
        @apply  w-[20rem] h-14 rounded-lg flex items-center justify-center cursor-pointer active:translate-y-[5px] hover:translate-y-[5px]
      }
  }